* {
    padding: 0;
    margin: 0;

    color: rgb(187, 187, 187);

    /* border: 1px solid gray;  */
}


h1 {
    color: rgb(129, 103, 151)
}

.form {
    border: 1px solid rgb(214, 213, 168);
    /* border-radius: 5px; */
    height: max-content;
    width: max-content;
    /* background-color: rgb(81, 85, 126); */
    box-sizing: border-box;
    margin: 15px;
    padding: 15px;
    /* display:; */

}



hr {
    color: rgb(214, 213, 168);
}

img {
    border-radius: 8px;
    margin: 15px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 200px;
    text-anchor: start;
    box-sizing: border-box;
    border: 2px solid rgb(214, 213, 168);
    border-radius: 4px;
    border-bottom: 2px solid rgb(129, 103, 151);
    background-color: rgb(81, 85, 126)
}

td {
    text-align: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(214, 213, 168);
    border-radius: 4px;
    border-bottom: 2px solid rgb(129, 103, 151);
    background-color: rgb(81, 85, 126)
}

.btn-danger {
    background-color: rgb(201, 67, 67);
    width: 50px;
    height: 30px;
}

.btn-warning {
    background-color: gold;
    width: 50px;
    height: 30px;
    color: black;
}

.btn-common {
    border: 2px solid rgb(214, 213, 168);
    width: 80px;
    height: 30px;
    background-color: rgb(129, 103, 151)
}

.btn-search {
    display: inline;
    position: relative;
}



.images-container {
    display: flex;
    width: 80%;
}



.image_container {
    border: 2px solid rgb(214, 213, 168);
    height: 100px;
    width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
}

nav ul {
    height: 100%;
    list-style: none;
    text-align: center;
}

nav li {
    color: rgb(214, 213, 168);
    border: 1pt solid rgb(214, 213, 168);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 40px;
    width: 200px;
}

nav li:hover {
    background-color: rgb(129, 103, 151);
}

li {
    
    height: 80px;
    width: 300px;
    display: flex;
    list-style: none;
   

}

.search-container {
    display: flexbox;

}

.post-card {
    border: 1px solid rgb(214, 213, 168);
    border-radius: 5px;
    height: 80%;
    width: 100%;
    text-align: center;
    display: table;
    margin: 15px;    
}

.post-card-with-image {
    border: 1px solid rgb(214, 213, 168);
    border-radius: 5px;
    height: fit-content;
    color: rgb(129, 103, 151);
    width: 100%;
    margin: 2px;


}

.post-list {
    display: flexbox;
    flex-wrap: wrap;


}

.post-image-container {
    margin: 15px;
    text-align: center;
    display: block
}



#child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(81, 85, 126);


}

.texto {
    margin-left: 100px;
    margin-top: 3px;
}

html,
body {
    height: 100vh;
    margin: 0;
    background-color: rgb(27, 36, 48);
}

.box {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.box .header {
    flex-grow: 0;
    flex-basis: auto;
    border: 1pt solid rgb(214, 213, 168);

}

.box .container {

    flex-grow: 1;
    /*  border: 1px solid rgb(214, 213, 168); */
    flex-basis: auto;
}

.container {

    margin: 1pt;
    /* border: 1px solid gray; */
    border-radius: 1px;
    display: flex;

}

.mainContainer {

    flex-grow: 1;
    margin: 8px;
    padding: 10px;
    /* border: 1px solid rgb(214, 213, 168); */
    height: 720px;
    min-width: max-content;

    flex-basis: auto;



}

.box .footer {

    flex-grow: 0;
    flex-basis: 100px;
    border: 1px solid rgb(214, 213, 168);

}