<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <%- include('./includes/navbar') %>

      <main>
        <div class="mainContainer">
        <h1>Ultimos 5 posts do Blog</h1>
        <h2>Luiz Sebastião D Avila Filho</h2>
        <ul>
          <ul class="post-list"> 
            <script></script>
            <%  if( typeof alert !== 'undefined')   { %> <script>window.alert("<% msg %>")</script> <% } %>
            <%if( typeof lastFivePosts !== 'undefined') { %>
            <% for (let i = 0; i < lastFivePosts.length; i++) { %> <%-include('./includes/post/show', { post: lastFivePosts[i] })%> <% } }%>
            
          </ul>
        </ul>
        </div>
      </main>
    </div>
  </body>
</html>
