

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Comentário</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="container">
    
    <%- include('./includes/navbar') %>
     <script>
    
    var url = new URL(window.location.href)
    console.log({url})
    var postId = url.pathname
    
    </script>
    <main>
        <div class="mainContainer">
            <h1>Cadastrar novo comentário</h1>
            <div class="form">            
                <form action="/posts/comment/<%=postId%> " method="post">    
                    <label for="description">Conteúdo do Comentário:</label>
                    <br>  
                    <textarea name="description" required> 
                    </textarea>
                    
                    <br>  
                    <br>  
                    <button type="submit" class="btn btn-common">Cadastra</button>
                </form>
            </div>
        </div>
    </main>
    </div>
</body>
</html>