

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="container">
    
    <%- include('./includes/navbar') %>
    
    <main>
        <div class="mainContainer">
            <h1>Cadastrar novo post</h1>
            <div class="form">            
                <form action="/posts/" method="post">
                    <label for="title">Título do post:</label>
                    <input type="text" name="title" required>
                    <br>                
                    <br>
                                   
                    <label for="description">Texto do post:</label>
                    <br>  
                    <textarea name="description" required> 
                    </textarea>
                    
                    <br>  
                    <br>  
                    <button type="submit" class="btn btn-common">Cadastra</button>
                </form>
            </div>
        </div>
    </main>
    </div>
</body>
</html>